@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

main {
  font-family: $font-main;
}

.canvas__board {
  display: grid;
  grid-template: min-content 570px / auto 750px auto;
  grid-template-areas:
              ". h ."
              ". c .";
  margin-top: 20px;
}

.canvas__header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
}

.canvas__main {
  display: block;
  margin: 0 auto;
  grid-area: c;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #000;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.overlay__opened {
  pointer-events: auto;
  opacity: 0.9;
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
}

.modal__opened {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.1s;
}

.modal__content {
  display: block;
  padding: 30px;
  background: #fff;
}

.characters {
  display: flex;
  justify-content: space-around;
}

.characters img {
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 0 15px;
}

.characters img:hover {
  border: 2px solid #7f7;
}

.character__selected {
  background: #afa;
}

.start__game,
.end__game {
  display: none;
}

.opened {
  display: block;
}

.main__footer {
  text-align: center;
}